*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.myface{
    height: 60%;
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-70%, -70%);
}
.section h1{
    /* font-family: montserrat; install this font*/
    font-size: 64px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}
.description h2{
    font-size: 58px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}
.description p{
    font-size: 50px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}
span{
    background: black !important;
}